'.source.php':
  'Codeigniter begin tag':
    'prefix': 'def'
    'body': 'define("${1:name}", "${2:value}");'
  'Output ci':
    'prefix': 'output'
    body: '$this->output$1;'
  'Load view':
    'prefix': 'ci_load_view'
    'body': '$this->load->view("$1");$2'
  'Load model':
    'prefix': 'ci_load_model'
    'body': '$this->load->model("$1");$2'
  'Load CI Library':
    'prefix': 'ci_lib'
    'body': '$this->load->library("$1", []);$2'
  'Load Config':
    'prefix': 'ci_load_conf'
    'body': '$this->config->load("$1");$2'
  'Get conf file':
    'prefix': 'conf_i'
    'body': '$this->config->item("$1");$2'
  'Set conf file':
    'prefix': 'conf_set_i
    'body': '$this->config->set_item("${1:key}", "${2:value}");$3'
  'Codeigniter controller':
    'prefix': 'ci_controller'
    'body': """

      /**
       * Controller description
      **/
      class ${1:Controller} extend CI_Controller
      {
        public function __construct()
        {
          parent::__construct();
        }

        public function render()
        {
          $this->load->view('views/myview.php');
        }
      }
    """
  'Library CI class':
    'prefix': 'ci_library'
    'body': """

      /**
       * $1 description
      **/
      class ${1:Library}
      {
        private $CI;
        
        public function __construct()
        {
          $this->CI = &get_instance();
          $this->CI->load->model("");
        }

        public function renderView()
        {
          $this->CI->load->view('views/myview.php');
        }
      }
    """
    
  'Codeigniter model':
    'prefix': 'model'
    'body': """

      /**
       * $1 description
      **/
      class ${1:Controller} extend CI_Model
      {
        public function __construct()
        {
          parent::__construct();
          $this->table = "$2";
        }

        public function get()
        {
          return $this->db->get($this->table);
        }
        
        public function set($array = [])
        {
          $this->db->set($array);
          return $this->db->insert($this->table);
        }
        
        public function update($array = [], $where = '')
        {
          $this->db->set($array);
          $this->db->where($where);
          return $this->db->update($this->table);
        }
        
      }
    """
